body		{background-image: url('img/bgtts.png');}
p            { margin-top:12; margin-bottom:12 }
hr			{height:"1" ;color:#CCCCCC;noshade }
a            { text-decoration: none;  }
A:visited	{color:"#0000FF"; text-decoration:none}
A:hover		{color:"#FF0000";text-decoration:none}
span.flag	{color:#FF8000;}
.format		{ background-color: #FFFFE2; width: 100%;color: #0000A0; border: 2px solid #FF8000; padding: 5; font-weight: bold; line-height:150%}
.example	{ background-color: #E2FFFF; width: 100%; border: 2px solid #0000FF; padding: 5 }
h4           { padding:3; background-color: #80BFFF; color:#FFFFFF; font-weight:bold; text-align:center}
.nounder	{ text-decoration: none }
.top		{ background-color: #80BFFF ; color: #FFFFFF; font-weight: bold }
.base		{ width: 100%; border-style: none; border-width: 0}
.menu        { background-color: #FFFF96 }